/* Add application styles & imports to this file! */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Roboto;
  margin: 20px;
}

.align-right {
  text-align: right;
}